fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
sqlalchemy
alembic
psycopg2-binary
pytest
httpx
passlib[bcrypt]
bcrypt<5
python-jose[cryptography]
email-validator
razorpay
openai
google-genai
